main {
    width: 100vw;
    height: 70vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, transparent 40%, transparent 75%, rgba(0, 0, 0, .8)), url("../../assets/bg-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}